import  React, { Component } from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
import './{{properCase name}}.scss';

const propTypes = {

};

const defaultProps = {

};

class {{ properCase name }} extends Component{
  constructor(props) {
    super(props);
  }
  render(){
    return (
      <div className = "{{ properCase name }}"> 
        {{ properCase name }} 
      </div>
    )
  }

}

{{ properCase name }}.propTypes = propTypes;
{{ properCase name }}.defaultProps = defaultProps;

const mapStateToProps = (state) => {
  return {
    ...state
  }
}

const mapDispatchToProps = (dispatch) => {
}

export default connect(mapStateToProps)({{ properCase name }});